$bg-color:	rgb(30, 30, 30);
$scrollbar-color: linear-gradient(#DE0100, #9f0045);
$scrollbar-hover: linear-gradient(#b90202, #940342);
$scrollbar-active: linear-gradient(#a40101, #7e0238);

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: $bg-color;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: 10px;
    &:hover {
        background: $scrollbar-hover;
    }
    &:active {
        background: $scrollbar-active;
    }
}